<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jigdraw.draw" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jigdraw.draw.JigsawListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jigdraw.draw.JigsawDetailActivity"
            android:label="@string/title_jigsaw_detail"
            android:parentActivityName="com.jigdraw.draw.JigsawListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jigdraw.draw.JigsawListActivity" />
        </activity>
    </application>

</manifest>
